<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">Listado de nombres</h4>
            <div class="form-group">
                <label for="">Nombre</label>
                <input 
                class="form-control" 
                type="text" 
                name="nombre"
                [(ngModel)]="nombre"
                (keydown.enter)="agregarNombre()"
                >
            </div>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item d-flex" *ngFor="let n of listadoNombres">
                    <p class="col-8 mb-0">{{n}}</p>
                    <div class="col text-right">
                        <button class="btn btn-light mr-1">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-light" (click)="borrarNombre(n)">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>