<h1 class="display-5 mb-4">
    ng-content: para proyeccion de contenido

</h1>
<app-card>
    <h4 class="">
        Julio Capellan.
    </h4>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis molestiae consequuntur perferendis eius expedita ipsa eaque culpa mollitia officia labore explicabo, commodi corporis repellendus aliquam asperiores corrupti deleniti quidem cum.
    </p>
    <div class="toolbar">
        <button class="btn btn-light">
            Accion 1
        </button>
        <button class="btn btn-primary">
            Accion 2
        </button>
    </div>
</app-card>